<div>
<form [formGroup]="ticketForm">
  <h2>Ticket Form</h2>
  <div class="form-group">
    <label for="ticketType">Ticket Type:</label><br>
    <div class="radio">
        <label>
            <input formControlName="TicketType" type="radio" name="TicketType" value="Quote" > Quote
        </label><br>
        <label>
            <input formControlName="TicketType" type="radio" name="TicketType" value="Support" > Support
        </label><br>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title: </label>
    <input type="text" formControlName="Title" class="form-control shadow-none">
  </div>
  <div class="form-group">
      <label for="title">Asset Reference/Id: </label>
      <input type="text" formControlName="AssetRefOrId" class="form-control shadow-none">
    </div>
  <div class="form-group">
    <label for="description">Description: </label> <br>
    <textarea formControlName="Description" name="escription" rows="5px">
    </textarea>
  </div>
  <div class="form-group-button">
    <button (click)="createTicket()" class="btn btn-primary"> Submit </button>
  </div>
</form>
</div>
<hr/>
<table class="table table-responsive-sm">
    <thead>
     <tr>
         <th>
           Title
         </th>
         <th>
           Customer Name
         </th>
         <th>
           Asset Reference/Id
         </th>
         <th>
           Contact Email
         </th>
         <th>
           Ticket Category
         </th>
         <th>
           Ticket Type
         </th>
       </tr>
    </thead>
     <tr *ngFor='let data of tickets'>
       <td>
         {{data.title}}
       </td>
       <td>
         {{data.customerNameOrId}}
       </td>
       <td>
         {{data.assetRefOrId}}
       </td>
     </tr>
   </table>
