.form-container {
  border-color: black;
  border-style: solid;
  padding: 15px;
  border-radius: 4px;
}

.title, .assetRef {
  width: 250px;
}

textarea {
  outline: none !important;
  box-shadow: none;
}
table, th, td {
  border: 3px solid navy;
}
th, td {
  padding: 15px;
  text-align: left;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
