<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="content-wrapper d-flex justify-content-between">

    <div class="logo col-md-3">
      <a class="navbar-brand" routerLink="dashboard">
        <img src={{this.displayLo?.Logo}}>
      </a>
    </div>

      <div class="dropdown d-none d-md-block account-container col-md-3" style="padding-right: 15px">
            <button class="btn bg-light shadow-none dropdown-toggle" style="width:auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle fa-3x"></i> {{currentProfile?.firstName}} {{currentProfile?.lastName}}
            </button>

            <ul class="dropdown-menu dropdown-menu-right" style="padding-right:auto; width:auto" aria-labelledby="dropdownMenuButton">
                <li>
                  <span class="dropdown-item-text dropdown-separator-title">
                    <h4>{{currentProfile?.partnerRole}}</h4>
                    <h5>{{currentProfile?.email}}</h5>
                  </span>
                </li>
                <hr>
                <li>
                  <a class="dropdown-item" routerLink="profile">
                    <div class="icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="text">
                      Account
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="about">
                    <div class="icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="text">
                      About
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="settings">
                    <div class="icon">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="text">
                      Settings
                    </div>
                  </a>
                </li>
                <!-- <li>
                  <a class="dropdown-item" routerlink="/notifications">
                    <div class="icon">
                    <i class="fas fa-comment-alt"></i>
                  </div>
                  <div class="text">
                    Notifications
                  </div>
                  </a>
                </li> -->
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <div class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <div class="text">
                      Logout
                    </div>
                  </a>
                </li>
              </ul>
      </div>
    </div>
</nav>
</div>

