* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.content-wrapper{
  width: 100%;
  align-items: center;
}

.logo > .navbar-brand > img{
  max-height: 50px;
  width: auto;
}

/* form {
  width: 100%;
  border-radius: 7px;
  padding-top: 4px;
} */

.col-md-3{
  justify-content: center;
}

hr {
  border-color: #8c8c8c;
}


.navbar-brand {
 cursor: pointer;
}

.rel-log {
  margin-top: 10px;
}

.dropdown-item {
  display: flex;
  cursor: pointer;
}

.text {
  margin-left: 13px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#8c8c8c;
}
