<div>
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top justify-content-right" >
    <a class="navbar-brand col-md-1" routerLink="/"><img src="../../assets//favicon.ico" style="width:75px; height:75px"></a>

  <form class="search-bar form-inline col-md-8" action="/action_page.php">
     <div class="input-group mb-sm justify-content-center">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </form>

  <div class="dropdown account-info col-md-3">
      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
        User's Name Here
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/">Link 1</a>
        <a class="dropdown-item" routerLink="/">Link 2</a>
        <a class="dropdown-item" routerLink="/">Link 3</a>
      </div>
    </div>
  </nav>
</div>

<!-- <button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button> -->
