* {
  margin: 0px 0px 0px 0px;
}
.content-wrapper{
  width: 100%;
}

/* form {
  margin-left: 150px;
  margin-right: 150px;
} */

hr {
  border-color: #8c8c8c;
}

nav {
  width: 100vw;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
 cursor: pointer;
}

.rel-log {
  margin-top: 10px;
}

.dropdown-item {
  display: flex;
  cursor: pointer;
}

.text {
  margin-left: 13px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#8c8c8c;
}
