<div class="container">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <!-- <app-alert *ngIf="onSubmit()"></app-alert> -->
        <h2>Manage Users</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm">
        <div class="form-group">
          <label for="manageUser"><h3>User Type</h3></label><br>
          <div class="select">
            <select name="Select Type">
              <option value="New">New User</option>
              <option value="Update">Update User</option>
            </select>
          </div>
        </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstname" name="firstname" class="form-control title shadow-none">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input name="lastname" type="text" formControlName="lastname" class="form-control shadow-none">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" formControlName="username" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" formControlName="email" class="form-control shadow-none">
    </div>
    <!-- <div class="form-group">
      <label for="phone">Phone</label>
      <input name="phone" type="text" formControlName="phone" class="form-control shadow-none">
    </div> -->
    <div class="form-group">
      <label for="password">New Password</label>
      <input name="password" type="password" formControlName="password" class="form-control shadow-none">
    </div>
    <!-- <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input name="cpassword" type="password" formControlName="ConfirmPass" class="form-control shadow-none">
    </div> -->
    <div class="form-group">
      <label for="partnerRole">User Roles</label><br>
    </div>
    <div class="form-group-button">
      <button class="btn btn-primary" onclick="onSubmit()">Save Changes</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
