<div class="container">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h2>Manage Users</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="">
        <div class="form-group">
          <label for="manageUser"><h3>User Type</h3></label><br>
          <div class="radio">
            <label>
              <input formControlName="ManageUser" type="radio" name="manageUser" value="New"><br> New User
            </label><br>
            <label>
              <input formControlName="ManageUser" type="radio" name="manageUser" value="Update"> Update User
            </label><br>
          </div>
        </div>
    <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="FirstName" name="firstName" class="form-control title shadow-none">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input name="firstName" type="text" formControlName="LastName" class="form-control shadow-none">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" formControlName="LastName" class="form-control shadow-none">
      </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" formControlName="Email" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input name="phone" type="text" formControlName="Phone" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="ticketingAlias">Ticketing Alias</label>
      <input name="ticketingAlias" type="text" formControlName="TicketingAlias" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="npassword">New Password</label>
      <input name="npassword" type="password" formControlName="NewPass" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input name="cpassword" type="password" formControlName="ConfirmPass" class="form-control shadow-none">
    </div>
    <div class="form-group">
      <label for="roles">User Roles</label><br>
    </div>
    <div class="form-group-button">
      <button class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
