<div class="container">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h2>Manage Users</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="">
        <div class="form-group">
          <label for="manageUser">User Type</label><br>
          <div class="radio">
            <label>
              <input formControlName="ManageUser" type="radio" name="manageUser" value="New" > New User
            </label><br>
            <label>
              <input formControlName="ManageUser" type="radio" name="manageUser" value="Update" > Update User
            </label><br>
          </div>
        </div>
    <div class="form-group">
    <label for="title">First Name </label>
    <input type="text" formControlName="FirstName" name="Title" class="form-control title shadow-none">
    </div>
    <div class="form-group">
      <label for="title">Last Name </label>
      <input name="CustomerNameOrId" type="text" formControlName="LastName" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="title">Email </label>
      <input name="CustomerNameOrId" type="text" formControlName="Email" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="title">Phone</label>
      <input name="CustomerNameOrId" type="text" formControlName="Phone" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="title">Ticketing Alias </label>
      <input name="CustomerNameOrId" type="text" formControlName="TicketingAlias" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="title">New Password </label>
      <input name="CustomerNameOrId" type="text" formControlName="NewPass" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="title">Confirm Password </label>
      <input name="CustomerNameOrId" type="text" formControlName="ConfirmPass" class="form-control shadow-none" value="">
    </div>
    <div class="form-group">
      <label for="roles">User Roles </label> <br>
    </div>
    <div class="form-group-button">
      <button class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
