<div class="container">
  <div class="col-md">
    <div *ngFor='let data of contract' class="card">
      <div class="card-header">
        <div class="row">
          <div class="contract-header-wrapper">
            <!-- <div class="contract-header-icon">
              <i class="fas fa-file-alt"></i>
            </div> -->
            <div class="contract-header-text">
              <div>Contract</div>
              <h4>{{data.ScheduleName}}</h4>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md con-ref">
            <h6>
              Contract #
            </h6>
            <p>
              {{data.RefNumber}}
            </p>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="tab-wrapper">
            <ul class="nav nav-tabs" id="contractTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="asset-tab" data-toggle="tab" href="#assets" role="tab" aria-controls="assets" aria-selected="false">Asset Locations ({{this.assetLength.lenght}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="tab-pane detail fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            <div class="form-group">
              <label for="refNumber">
                Reference Number <br>
                <input readonly type="text" [(ngModel)]="data.RefNumber" placeholder="Reference Number" />
              </label>
            </div>
            <div class="form-goup">
              <label for="endCustomer">
                Customer <br>
                <input readonly type="text" [(ngModel)]="data.EndCustomerName" placeholder="End Customer" />
              </label>
            </div>
            <div class="form-goup">
              <label for="startDate">
                Start Date <br>
                <input readonly type="text" [(ngModel)]="data.StartDate" placeholder="Start Date" />
              </label>
            </div>
            <div class="form-goup">
              <label for="renewalDate">
                Renewal Date <br>
                <input readonly type="text" [(ngModel)]="data.RenewalDate" placeholder="Renewal Date" />
              </label>
            </div>
          </div>

          <div class="tabe-pane assets fade" id="assets" role="tabpanel" aria-labelledby="asset-tab">
            <div class="form-group">
              ...
            </div>
          </div>

          <div class="tabe-pane locations fade" id="location" role="tabpanel" aria-labelledby="location-tab">
            Locations go here!
          </div>
        </div>
          <br>
            <div class="row button-containers">
              <div class="col-sm">
                <Button (click)="goBack()" class="btn btn-info">
                  Go Back
                </Button>
              </div>
            </div>
      </div>
  </div>
</div>
</div>






<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div> -->






<!-- <div class="container">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h3>Update Account </h3>
      </div>
      <div class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label for="partner">Company </label>
              <select [disabled]="changePartner()" formControlName="partner" class="form-control" id="company">
                <option selected>{{currentProfile?.partner}}</option>
                <option >NorthSmart</option>
                <option>Noble 1 Solutions</option>
                <option>Relus Technologies</option>
                <option>Reliant Technology</option>
              </select>
            </div>
              <div class="form-group">
                <label for="firstName">First Name</label><br>
                <input type="text" formControlName="firstName" class="firstName input" value="{{currentProfile?.firstName}}">
                <div *ngIf="submitted && !!f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="!!f.username.errors.required">First Name required!</div>
                </div>
              </div>
              <div class="form-group">
                  <label for="lastName">Last Name</label><br>
                  <input type="text" formControlName="lastName" class="lastName input" value="{{currentProfile?.lastName}}">
                </div>
              <div class="form-group">
                <label for="userName">Username</label><br>
                <input type="text" formControlName="username" class="username input" value="{{currentProfile?.username}}">
              </div>
              <div class="form-group">
                <label for="email">Email</label><br>
                <input type="text" formControlName="email" class="email input" value="{{currentProfile?.email}}">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label><br>
                <input type="text" formControlName="phone" class="email input">
              </div>
              <div class="form-group">
                <label for="ticketingAlias">Ticketing Alias</label><br>
                <input type="text" formControlName="ticketingAlias" class="ticketingAlias">
              </div>
              <div class="form-group">
                <label for="password">Password</label><br>
                <button name="password" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
                  <i class="fas fa-lock"></i> Change Password
                </button>
              </div>
              <div class="modal fade" id="changePassword"  role="dialog" aria-labelledby="modalCentered" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="newPassword">New Password</label><br>
                        <input class="passwordChange" formControlName="password" name="newPassword" type="password">
                      </div>
                      <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label><br>
                        <input class="passwordChange" formControlName="conpass" name="confirmwPassword" type="password">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-check">
                <label for="ticketCopy">Ticket Copy  </label>
                <input name="ticketCopy" class="checkbox shadow-none" type="checkbox">
              </div>
              <div class="form-group form-check">
                <label for="expnotification">Expiration Notification </label>
                <input name="expnotification" class="checkbox shadow-none" type="checkbox">
              </div>
              <div class="form-group">
                <label for="role">Role</label><br>
                <div data-toggle="tooltip" data-placement="top" title="Changing your own role is not allowed!" class="wrapper">
                <select [disabled]="true" formControlName="role" class="form-control" id="role">
                  <option>List of Roles</option>
                  <option selected>{{currentProfile?.partnerRole}}</option>
                  <option>Option 2</option>
                  <option>option 3</option>
                  <option>option4</option>
                </select>
              </div>
            </div>
              <div class="form-group-button">
                <button class="btn btn-primary">Update User</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div> -->
