* {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 10px;
  padding: 6px 12px;
  background-color: rgb(230, 92, 0) !important;
  border-color: rgb(230, 92, 0) !important;
}

.btn:click,
.btn:hover,
.btn:focused,
.btn:active,
.btn:visited {
  margin: 10px;
  background-color: rgb(230, 92, 0) !important;
  border-color: rgb(230, 92, 0) !important;
}


