* {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 10px;
  padding: 6px 12px;
  color: white;
  background-color: rgb(230, 92, 0);
  border-color: rgb(230, 92, 0);
}

.btn:active:focus
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  margin: 10px;
  color: white;
  background-color: rgb(230, 92, 0);
  border-color: rgb(230, 92, 0);
}

.cancel {
  background-color: grey;
  border-color: grey;
  color: white
}

.close {
  color: white;
}

.modal-header {
  padding: 8px 5px;
  background-color: black;
  color: white;
}

.modal-body {
  padding: 15px;
}

.modal-dialog {
  width: 100%;
}
