.col-md-6 {
  margin: auto;
  padding-bottom: 1px;
  padding-top: 5px;
  background-color: navy;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 650px;
  top: 100px;
  bottom: 50%;
}

.buttons {
  margin-bottom: 40px;
}

