<div class="panel panel-default" >
  <h2 class="center">Portal User Registration</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row ">
      <div class="col-md-6">
        <div class="form-group">
        <label for="companypartner">Is this user for a Company or Partner:</label>
        <select class="form-control" id="companypartner" formControlName="companypartner" [ngClass]="{ 'is-invalid': submitted && f.companypartner.errors}">
          <option value="0">--Select--</option>
          <option>Company</option>
          <option>Partner</option>
        </select>
        </div>
      </div>
   </div>
      <div class="row ">
        <div class="col-md-6">
          <label for="partner">Select Partner:</label>
          <select class="form-group" id="partner" formControlName="partner" [(ngModel)]="partner" (ngModelChange)="getcompany(partner)" [ngClass]="{ 'is-invalid': submitted && f.partner.errors}">
          <option value="0">--Select--</option>
          <option *ngFor="let ga of twoprofile" value={{ga?.CompanyName}}> {{ga?.CompanyName}} </option>
          </select>
        </div>
      </div>
      <div class="row">
              <div class="form-group col-md-10">
                <label for="email">Enter Email for username</label>
                  <input type="text" formControlName="email" lowercase class="form-control" autocomplete="username" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  placeholder="Enter Users Email address for Username" />
                  <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
                    <div *ngIf="!!f.email.errors.required">Email Address must be valid and match</div>
                  </div>
              </div>
      </div>
          <div class="row">
            <div class="form-group col-md-10">
              <label for="username">Re-enter Email for username</label>
                <input type="text" formControlName="username" lowercase class="form-control" autocomplete="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  placeholder="Re-enter Users Email address for Username" />
                <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
                  <div *ngIf="!!f.username.errors.required">Email Address must be valid and match</div>
                </div>
          </div>
        </div>
     <div class="row ">
        <div class="col-md-6">
          <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" autocomplete="first name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="User First Name" />
        <div *ngIf="submitted && !!f.firstName.errors" class="invalid-feedback">
            <div *ngIf="!!f.firstName.errors.required">First Name is required</div>
        </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" autocomplete="last name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Users Last Name" />
        <div *ngIf="submitted && !!f.lastName.errors" class="invalid-feedback">
            <div *ngIf="!!f.lastName.errors.required">Last name is required</div>
        </div>
        </div>
        </div>
    </div>

<div class="row ">
  <div class="col-md-6">
    <div class="form-group">
    <label for="partnerRole">Choose the User's Role:</label>
    <select class="form-control" id="partnerRole" formControlName="partnerRole" [ngClass]="{ 'is-invalid': submitted && f.partnerRole.errors}">
      <option>Admin</option>
      <option>User</option>
      <option>Support</option>
    </select>
  </div>
  </div><br>
  <div class="row ">
  <div class="col-md-6">
    <label for="company">Select Company:</label>
    <select class="form-group" id="company" formControlName="company" [(ngModel)]="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors}">
     <option value="0">--Select--</option>
     <option *ngFor="let ha of twocompany" value={{ha?.CompanyName}}> {{ha?.CompanyName}} </option>
    </select>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-6">
  <div class="form-group">
  <label for="password">Password:</label>
  <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Password">
  <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback" autocomplete="new-password">
    <div *ngIf="!!f.password.errors.required">Passwords must be 8 characters containing 1 letter, 1 number, and one special character.</div>
</div>
</div>
</div>
<div class="col-md-6">
  <div class="form-group">
  <label for="confirmpassword">Password:</label>
  <input type="password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" placeholder="Re-enter Password">
  <div *ngIf="submitted && !!f.confirmpassword.errors" class="invalid-feedback" autocomplete="new-password">
    <div *ngIf="!!f.confirmpassword.errors.required">Passwords must be 8 characters containing 1 letter, 1 number, and one special character.</div>
    </div>
  </div>
</div>
</div>
    <div class="row ">
      <div class="col-md-6">
        <div class="form-group buttons">
         <button type="submit" style="margin-right:20px;" class="btn btn-primary">Register</button>
      <!--   <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      -->
        <button routerLink="/" type="button" class="btn btn-primary">Cancel</button>
        </div>
       </div>
    </div>
</form>
</div>
