<div class=" table-container table-responsive-sm">
<table class="table table-bordered">
  <thead>
   <tr>
       <th>Contract Name</th>
       <th>Customer</th>
       <th>Reseller</th>
       <th>Contract#</th>
       <th>Service Ends</th>
       <th>Status</th>
       <th>Archived</th>
     </tr>
  </thead>
   <tr *ngFor='let data of contracts'>
     <td>{{data.FinancialCounterPartyName}}</td>
     <td>{{data.ScheduleName}}</td>
     <td>{{data.EndCustomer</td>
     <td>{{data.RefNumber}}</td>
     <td>{{data.StartDate}}</td>
     <td>{{data.RenewalDate}}</td>
     <td>{{data.Status}}</td>
     <td>{{data.Archived}}</td>
   </tr>
 </table>
</div>
