<div class="edit-items-container d-flex justify-content-end">
    <button class="assign-assets btn btn-primary">
      <i class="fas fa-file-export" aria-hidden="true"></i> Export Contracts
    </button>
    <button class="btn btn-primary">
      <i class="far fa-eye"></i> Show Archived
    </button>
  </div>
<form [formGroup]="selectorForm">
  <div class="companySelector">
    Select Company:
    <div class="form-group">

    </div>
    <select id="companyFilter" [(ngModel)]="this.f.companyName.value">
      <option selected [value]="">All</option>
      <option *ngFor="let data of company"
      [value]="data.CompanyName">
      {{data.CompanyName}}
    </option>
    </select>
  </div>
</form>

<div class=" table-container table-responsive-sm">
<table class="table table-bordered rounded">
  <thead>
   <tr>
      <th>Contract Name</th>
      <th>Start Date</th>
      <th>Service Ends</th>
      <th>Contract#</th>
      <th>Customer</th>
      <th>Status</th>
     </tr>
  </thead>
   <tr *ngFor='let data of contracts'>
     <div *ngIf="this.f.companyName.value">
           <td>
      <a routerLink="/contractdetail/{{data.RefNumber}}" class="contract-link">{{data.ScheduleName}}</a>
    </td>
    <td>{{data.StartDate | date: 'shortDate'}}</td>
    <td>{{data.RenewalDate | date: 'shortDate'}}</td>
    <td>
      <a routerLink="/contractdetail/{{data.RefNumber}}" class="contract-link">{{data.RefNumber}}</a>
    </td>
    <td>{{data.EndCustomerName}}</td>
    <td>{{data.Status}}</td>
     </div>

   </tr>
 </table>
</div>

<!-- <div class=" table-container table-responsive-sm">
<table class="table table-bordered rounded">
<thead>
 <tr>
    <th>Contract Name</th>
    <th>Start Date</th>
    <th>Service Ends</th>
    <th>Contract#</th>
    <th>Customer</th>
    <th>Status</th>
   </tr>
</thead>
 <tr *ngFor='let data of contracts'>
  <td>
    <a routerLink="/contractdetail/{{data.RefNumber}}" class="contract-link">{{data.ScheduleName}}</a>
  </td>
  <td>{{data.StartDate}}</td>
  <td>{{data.RenewalDate}}</td>
  <td>
    <a routerLink="/contractdetail/{{data.RefNumber}}" class="contract-link">{{data.RefNumber}}</a>
  </td>
  <td>{{data.EndCustomerName}}</td>
  <td>{{data.Status}}</td>
 </tr>
</table>
</div> -->
