  <nav *ngIf="currentProfile" class="navbar northNav navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" (click)="dashLink()">
      <img src="this.displayLo.Logo">
      <!-- <img *ngIf="currentProfile?.partner == 'NorthSmart (Northland)'" src="../../assets//favicon.ico" style="width:50px; height:50px">
      <img *ngIf="currentProfile?.partner == 'Relus Technologies' || currentProfile?.partner == 'RAC King LLC' || currentProfile?.partner == 'BB&T'" src="../../../assets/RelusLogo.png" style="height: 50px; margin-left: 20px;">
      <img *ngIf="currentProfile?.partner == 'Noble1 Solutions' || currentProfile?.partner == 'Colwick Travel' || currentProfile?.partner == 'xByte Technologies'" src="../../assets//favicon.ico" style="width:50px; height:50px">
      <img *ngIf="currentProfile?.partner == 'Reliant Technology'" src="../../../assets/Reliant-Logo.png" class="rel-logo">
      <img *ngIf="currentProfile?.partner == 'Mega Monolithic Corp'" src="../../../assets/Mega Monolithic Corp - Logo Light Small.png" style="height: 50px; margin-left: 20px;"> -->
    </a>

    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarToggle" class="collapse navbar-collapse">
      <form class="search-bar d-none d-md-block form-inline" style="width:50%">
        <div class="input-group">
          <input type="text" class="form-control shadow-none" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-transparent" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>

      <div class="dropdown d-none d-md-block account-container northsmart" style="padding-right: 15px">

            <button class="btn bg-light shadow-none dropdown-toggle" style="width:auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle fa-3x"></i> {{currentProfile?.firstName}} {{currentProfile?.lastName}}
            </button>

            <ul class="dropdown-menu dropdown-menu-right" style="padding-right:auto; width:auto" aria-labelledby="dropdownMenuButton">
                <li>
                  <span class="dropdown-item-text dropdown-separator-title">
                    <h4>{{currentProfile?.partnerRole}}</h4>
                    <h5>{{currentProfile?.email}}</h5>
                  </span>
                </li>
                <hr>
                <li>
                  <a class="dropdown-item" routerLink="/profile">
                    <div class="icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="text">
                      Account
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/settings">
                    <div class="icon">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="text">
                      Settings
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerlink="/notifications">
                    <div class="icon">
                    <i class="fas fa-comment-alt"></i>
                  </div>
                  <div class="text">
                    Notifications
                  </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <div class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <div class="text">
                      Logout
                    </div>
                  </a>
                </li>
              </ul>
      </div>
    </div>
  </nav>

    <!-- <nav  class="navbar relusNav navbar-expand-lg navbar-light bg-light justify-content-between">
      <a class="navbar-brand" routerLink="dashLink()"><img *ngIf="currentProfile?.partner == 'Relus Technologies'" src="../../../assets/RelusLogo.png" style="height: 44px; margin-left: 20px;"></a>
      <button class="navbar-toggler relusToggle" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarToggle" class="collapse navbar-collapse">
      <form class="search-bar d-none d-md-block form-inline" style="width:50%">
        <div class="input-group">
          <input type="text" class="form-control shadow-none" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-transparent" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>

      <div class="dropdown d-none d-md-block account-container relus" style="padding-right: 15px">

            <button class="btn bg-light shadow-none dropdown-toggle" style="width:auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle fa-3x"></i> {{currentProfile?.firstName}} {{currentProfile?.lastName}}
            </button>

            <ul class="dropdown-menu dropdown-menu-right" style="padding-right:auto; width:auto" aria-labelledby="dropdownMenuButton">
              <li>
                <span class="dropdown-item-text dropdown-separator-title">
                  <h4>{{currentProfile?.partnerRole}}</h4>
                  <h5>{{currentProfile?.email}}</h5>
                </span>
              </li>
              <hr>
              <li>
                  <a class="dropdown-item" routerLink="/profile">
                    <div class="icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="text">
                      Account
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/settings">
                    <div class="icon">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="text">
                      Settings
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerlink="/notifications">
                    <div class="icon">
                    <i class="fas fa-comment-alt"></i>
                  </div>
                  <div class="text">
                    Notifications
                  </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <div class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <div class="text">
                      Logout
                    </div>
                  </a>
                </li>
              </ul>
      </div>
    </div>
    </nav> -->

    <!-- <nav *ngIf="currentProfile?.partner == 'Noble1 Solutions'" class="navbar northNav navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" routerLink="dashLink()"><img *ngIf="currentProfile?.partner == 'Noble1 Solutions'" src="../../assets//favicon.ico" style="width:75px; height:75px"></a>
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarToggle" class="collapse navbar-collapse">
          <form class="search-bar d-none d-md-block form-inline" style="width:50%">
            <div class="input-group">
              <input type="text" class="form-control shadow-none" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-transparent" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>

          <div class="dropdown d-none d-md-block account-container northsmart" style="padding-right: 15px">

                <button class="btn bg-light shadow-none dropdown-toggle" style="width:auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user-circle fa-3x"></i> {{currentProfile?.firstName}} {{currentProfile?.lastName}}
                </button>

                <ul class="dropdown-menu dropdown-menu-right" style="padding-right:auto; width:auto" aria-labelledby="dropdownMenuButton">
                    <li>
                      <span class="dropdown-item-text dropdown-separator-title">
                        <h4>{{currentProfile?.partnerRole}}</h4>
                        <h5>{{currentProfile?.email}}</h5>
                      </span>
                    </li>
                    <hr>
                    <li>
                      <a class="dropdown-item" routerLink="/profile">
                        <i class="fas fa-user"></i> Account
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/settings">
                        <i class="fas fa-cog"></i> Settings
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="logout()">
                          <i class="fas fa-sign-out-alt"></i>  Logout
                      </a>
                    </li>
                  </ul>
          </div>
        </div>
      </nav> -->
