* {
  margin: 0px 0px 0px 0px;
}

form {
  margin-left: 150px;
  margin-right: 150px;
}


header {
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.account-container button {
  color: whitesmoke;
}
