  <header>
  <nav class="navbar navbar-expand-md navbar-light bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="/"><img src="../../assets//favicon.ico" style="width:75px; height:75px"></a>

    <form class="search-bar d-none d-md-block" style="width:50%" action="/action_page.php">
      <div class="input-group" >
        <input type="text" class="form-control shadow-none" placeholder="Search">
        <div class="input-group-append">
        <button class="btn btn-transparent" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>

      <div class="dropdown d-none d-md-block" style="padding-right: 15px">
          <button class="btn bg-dark shadow-none dropdown-toggle" style="width:auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-user-circle fa-3x"></i>{{currentProfile.firstName}} {{currentProfile.lastName}}
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="padding-right:auto; width:auto" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item-text dropdown-separator-title">Email/Name Goes Here</span>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item nav-link" (click)="logout()">Logout</a>
          </div>
        </div>


    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


  </nav>
  <div class="collapse" id="navbarSupportedContent">
      <div class="bg-light p-4">
        <h5 class=" h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
  </header>
