<!-- <div class="row">
    <div class="col-md-12">
         <app-header> </app-header>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
         <app-sidebar> </app-sidebar>
    </div>
    <div class="col-md-3">
         <router-outlet> </router-outlet>
    </div>
  </div> -->

  <div class="row">
      <app-header *ngIf="router.url !== '/login' && router.url !== '/register'"></app-header>
    </div>
    <div class="row">
      <div class="col-md-2">
         <app-sidebar *ngIf="router.url !== '/login' && router.url !== '/register'"></app-sidebar>
      </div>
    <div class="col-md-10">
         <app-alert></app-alert>
         <br>
         <router-outlet> </router-outlet>
    </div>
    </div>
