  <div class="container-fluid">
    <div class="row">
      <div *ngIf="router.url !== '/login' && router.url !== '/forgot' && router.url.indexOf('reset-password') == -1" class="header fixed-top col-md">
       <app-header></app-header>
       </div>
    </div>
    <div class="row">
      <div class="col-md-2 sidebar">
             <app-sidebar *ngIf="router.url !== '/login' && router.url !== '/forgot' && router.url.indexOf('reset-password') == -1"></app-sidebar>
      </div>
      <div class="col-md content">
         <app-alert *ngIf="router.url == '/login' || router.url == '/forgot' || router.url.indexOf('reset-password') == -1"></app-alert>
        <br>
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
