app-header {
  height: auto;
  width: auto;
  margin: 0;
}

.row {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col-md-10 {
  height: auto;
  margin: 0;
  top: 101px;
  margin-top: 20px;
  padding: 0;
}

app-alert {
  left: 50%;
  margin: auto;
  max-width: 650px;
  text-align: center;
}
