.sidebar-container {
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item:hover {
  color: #668cff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}
.nav-fill{
  border-radius: 0%;
}

.btn-light {
  background-color: transparent;
  outline: none;
}
