/* .sidebar-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 1vw;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 30%;
} */

nav, .icon-bar {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 1vw;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
}

nav a {
  cursor: pointer;
}

span {
  display: inline-flex;
}

.row {
  margin: 0px;
  padding: 0px;
}

/*
.btn-link {
  color: white;
  font-size: 1vw;
}

.btn-block {
  background-color: #e65c00;
}

.btn-light {
  background-color: transparent;
  outline: none;
}

.bg-info:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
} */

/*        */

#container {
  transition:all .5s;
  height: 100vh;
}

.navbar-nav {
  height: 100vh;
}


.btn, .btn:focus {
  background-color: transparent;
  align-content: right;
  color: black;
  outline: 0;
}

.btn:hover {
  color: white;
}

.dropdown-btn {
  cursor: pointer;
}

.icon-bar {
  width: 30%;
  background-color: #555;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-wrapper {
  margin-left: 10px;
}

.icon-bar a {
  display: flex;
  flex-direction: row;
  padding: 18px 8px 18px 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 120%;
  overflow: hidden;
}

a {
  text-decoration: none !important;
  border-bottom: solid white 1px;
}

.fa-caret-down {
  margin-left: 4px;
}

 .icon {
  margin-right: 11px;
  margin-left: 8px;
}

span {
  margin-left: 10px;
  margin-right: 0px
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #e65c00;
}
