<!-- <div *ngIf="!currentRole; else variable">
    <p>
        This is what we see when not logged in
      </p>
</div> -->

  <div>
  <div class="sidebar-container" style="text-align:center">
      <h1>
        Welcome to {{ title }}
      </h1>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" (click)="onSelect(role)" class="btn btn-info"
          [class.selected]="selectedRole.Admin">{{role.Admin}}</button>
          <button type="button" (click)="onSelect(role)" class="btn btn-info"
          [class.selected]="selectedRole.User">{{role.User}}</button>
      </div>
      <!-- <nav *ngIf="currentRole?.partnerRole === 'Admin'" class="navbar-nav"> -->
        <!-- Ng If to determin User Role -->
        <nav *ngIf="selectedRole.Admin === 'Admin'" class="navbar-nav">
          <!-- Ng  -->
          <div *ngFor="let sidebar of sidebars"
            class="nav list-group flex-column nav-justified"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="submenu">

            <a *ngIf="sidebar.menu === 'main'; else mainsub"
            class="list-group-item list-group-item-action nav-link"
            data-toggle="tabs" aria-controls="collapseMenu" routerLink="{{sidebar.link}}">
                <span id="collapseMenu">{{sidebar.name}}</span>
          </a>
          <ng-template #mainsub class="list-group-item list-group-item-action nav-link"
          aria-expanded="false"
          data-toggle="tabs">

          <a *ngIf="sidebar.menu === 'mainsub-a'" class="list-group-item list-group-item-action" data-toggle="collapse"
            data-target="#submenuContentA" aria-controls="submenuContentA" aria-expanded="false"
            routerLink="{{sidebar.link}}">
              {{sidebar.name}}
            </a>

          <a *ngIf="sidebar.menu === 'mainsub-b'" class="list-group-item list-group-item-action" data-toggle="collapse"
            data-target="#submenuContentB" aria-controls="submenuContentB" aria-expanded="false"
            routerLink="{{sidebar.link}}">
              {{sidebar.name}}
            </a>

            <div *ngIf="sidebar.menu ==='sub-A'" class="collapse bg-warning list-group-item list-group-item-action" id="submenuContentA">
              <a routerLink="{{sidebar.link}}">{{sidebar.name}}</a>
            </div>

            <div *ngIf="sidebar.menu ==='sub-B'" class="collapse bg-warning list-group-item list-group-item-action" id="submenuContentB">
              <a routerLink="{{sidebar.link}}" >{{sidebar.name}}</a>
            </div>
          </ng-template>
        </div>
    </nav>

    <nav *ngIf="selectedRole.User === 'User'" class="navbar-nav">
      User Sidebar Loads
    </nav>
  </div>



