   <div class="sidebar-container bg-dark flex-column" style="text-align:center">
    <div>
      <h1>
        Welcome to {{title}}
      </h1>
    </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <input type="checkbox" id="toggle-button-checkbox">
        <label class="toggle-button-switch" (click)="onSelect()"
            for="toggle-button-checkbox"></label>
        <div class="toggle-button-text">
        <div class="toggle-button-text-on">Admin</div>
        <div class="toggle-button-text-off">User</div>
        </div>
      </div>

        <!-- Ng If to read User Role -->
        <!-- <nav *ngIf="currentRole?.partnerRole === 'Admin'" class="navbar-nav"> -->
        <nav *ngIf="this.admin">
        <div class="accordion" id="accordionExample" *ngFor="let sidebar of sidebars">
            <div *ngIf="sidebar.menu === 'main'" class="card">
              <div class="bg-dark card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" routerLink="{{sidebar.link}}" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
            </div>
            <div class="card">
              <div *ngIf="sidebar.menu == 'mainsub-a'" class="bg-dark card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <button *ngIf="sidebar?.menu =='sub-A'" routerLink="{{sidebar.link}}" class="card-body btn-block btn-link">
                  {{sidebar.name}}
                </button>
              </div>
            </div>
            <div class="card">
              <div *ngIf="sidebar.menu === 'mainsub-b'" class="bg-dark card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <button *ngIf="sidebar.menu ==='sub-B'" routerLink="{{sidebar.link}}" class="card-body btn-block btn-link">
                  {{sidebar.name}}
                </button>
              </div>
            </div>
        </div>
    </nav>

    <!-- <nav *ngIf="currentRole?.partnerRole === 'User'" class="navbar-nav"> -->
    <nav *ngIf="!this.admin">
      <div class="accordion" id="accordionExample" *ngFor="let sidebar of sidebars">
            <div *ngIf="sidebar.name === 'Dashboard'" class="card">
              <div class="bg-dark card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" routerLink="{{sidebar.link}}" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
            </div>
            <div class="card">
              <div *ngIf="sidebar.menu == 'mainsub-a'" class="bg-dark card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <button *ngIf="sidebar?.menu =='usub-A'" routerLink="{{sidebar.link}}" class="card-body btn-block btn-link">
                  {{sidebar.name}}
                </button>
              </div>
            </div>
            <div class="card">
              <div *ngIf="sidebar.menu === 'mainsub-b'" class="bg-dark card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{sidebar.name}}
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <button *ngIf="sidebar.menu ==='usub-B'" routerLink="{{sidebar.link}}" class="card-body btn-block btn-link">
                  {{sidebar.name}}
                </button>
              </div>
            </div>
        </div>
    </nav>
    </div>

