.sidebar-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
  padding: 0px;
  width: 75%;
  color: white;
  font-size: 1vw;
  height: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: auto;
  padding-top: 10px;
}


.row {
  margin: 0px;
  padding: 0px;
}

.nav-fill {
  border-radius: 0%;
}

.card{
  border-bottom-color: black !important;
  border: 1px;
}

.card-header {
  border-color: grey;
  color: white;

}

.btn-link {
  color: white;
  font-size: 18px;
}

.btn-block {
  background-color: #e65c00;
}

.btn-light {
  background-color: transparent;
  outline: none;
}

.bg-info:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}


/* :host {
  display: block;
  position: relative;
  width: 43px;
  height: 14px;
}

input[type="checkbox"] {
  display: none;
}

.toggle-button-switch {
  position: absolute;
  top: -8px;
  left: 1px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.3s;
}


.toggle-button-text {
  overflow: hidden;
  background-color: #e65c00;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
  width: 150px;
}


.toggle-button-text-on,
.toggle-button-text-off {
  float: left;
  width: 25%;
  height: 50%;
  line-height: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.toggle-button-text-off {
  float: right;
}

input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: 113px;
}

input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: grey;
} */
