
<div *ngFor='let dataa of ticketArr' class="tab-content" id="nav-tabContent">
  <!--     <div class="tab-pane detail fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
           <label for="refNumber">
             Reference Number <br>
             <input readonly type="text" [(ngModel)]="dataa.RefNumber" placeholder="Reference Number" />
           </label> -->  {{dataa.RefNumber}} {{dataa.LatestPublicComment}}
           <div class="form-goup">
             <label for="endCustomer">
               Status <br>
               <input readonly type="text" [(ngModel)]="dataa.LatestPublicComment" placeholder="Status" />
             </label>
           </div>
           <div class="form-goup">
             <label for="endCustomer">
               Status <br>
               <input readonly type="text" [(ngModel)]="dataa.RefNumber" placeholder="Status" />
             </label>
           </div>
       </div>
