<div class="container wrapper">
  <div class="container-fluid">
    <div class="row ">
      <div class="contracts-container total-container col-md">
        <a routerLink="/manageassets/contracts">
          <div class="row contract-content">
            <div class="col contract-length">
              {{this.contractLength}}
            </div>
          </div>
          <div class="row contract-label justify-content-center">
            Contracts
          </div>
          <div class="row contract-logo justify-content-end">
              <img class="contract-icon" src="../../assets/Mega-Contracts.png">
          </div>
        </a>
      </div>
      <div class="assets-container total-container col-md">
        <a routerLink="/assets">
          <div class="row asset-content">
            <div class="col asset-length">
              {{this.assetLength}}
            </div>
          </div>
          <div class="row asset-label justify-content-center">
            Assets
          </div>
          <div class="row asset-logo justify-content-end">
              <img class="asset-icon" src="../../assets/Mega-Assets.png">
          </div>
        </a>
      </div>
      <div class="tickets-container total-container col-md">
        <a routerLink="/manageassets/tickets">
          <div class="row ticket-content">
            <div class="col ticket-length">
              {{this.ticketLength?.length}}
            </div>
          </div>
          <div class="row ticket-label justify-content-center">
            Tickets
          </div>
          <div class="row ticket-logo justify-content-end">
              <img class="ticket-icon" src="../../assets/Mega-Tickets.png">
          </div>
        </a>
      </div>

    <div *ngIf="this.currentProfile.companypartner === 'Partner'" class="companies-container total-container col-md">
        <a routerLink="/companies">
          <div class="row companies-content">
            <div class="col companies-length">
              {{this.companyLength?.length}}
            </div>
          </div>
          <div class="row companies-label justify-content-center">
            Companies
          </div>
          <div class="row company-logo justify-content-end">
              <img class="company-icon" src="../../assets/Mega-Compannies.png">
          </div>
        </a>
      </div>
      <!-- <div *ngIf="currentProfile.partnerRole === 'Admin'" class="users-container total-container col-md">
        <a routerLink="/admin/users">
          <div class="users-content">
            0 <br>
            Users
            <img src="../../assets/users.png">
          </div>
        </a>
      </div> -->
      <!-- <div class="locations-container total-container col-md">
        <a routerLink="/admin/locations"><div class="locations-content">
            0 <br>
            Locations
          <img src="../../assets/locations.png">
        </div>
      </a>
        </div> -->
      </div>
    </div>
  <div class="row">
    <div class="col-md">
      <div class="container contracts-wrapper">
        <div class="row">
          <div class="title col-md">
            <h3><i class="fa fa-calendar" aria-hidden="true"> </i> Contracts</h3>
          </div>
        </div>
        <div class="row">
          <div class="legend col-md">
            <h6>
              <span class="badge badge-now"><p>N</p></span> Now
            </h6>
            <h6>
              <span class="badge badge-15"><p>N</p></span> 15 Days
            </h6>
            <h6>
              <span class="badge badge-30"><p>N</p></span> 30 Days
            </h6>
            <h6>
              <span class="badge badge-60"><p>N</p></span> 60 Days
            </h6>
            <h6>
              <span class="badge badge-90"><p>N</p></span> 90 Days
            </h6>
            <h6>
              <span class="badge badge-plus"><p>N</p></span> 90+ Days
            </h6>
          </div>
          <div class="chart col-md">
              <canvas id="contracts" width="250" height="250">{{ contractsData }}</canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <table class="table">
              <tr>
                <td>
                  Now
                </td>
                <td>
                  <span class="badge badge-now badge-table">{{this.now}}</span>
                </td>
                <td>
                 15 Days
                </td>
                <td>
                <span class="badge badge-15 badge-table">{{this.fifteenDays}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  30 Days
                </td>
                <td>
                  <span class="badge badge-30 badge-table">{{this.sixtyDays}}</span>
                </td>
                <td>
                 60 Days
                </td>
                <td>
                <span class="badge badge-60 badge-table"></span>
                </td>
              </tr>
              <tr>
                <td>
                  90 Days
                </td>
                <td>
                  <span class="badge badge-90 badge-table"></span>
                </td>
                <td>
                  90+ Days
                </td>
                <td>
                  <span class="badge badge-plus badge-table"></span>
                </td>
              </tr>
            </table>
          </div>
      </div>
    </div>
  </div>

    <div class="col-md">
      <div class="container assets-wrapper">
        <div class="row">
          <div class="title col-md">
            <h3><i class="fas fa-database"> </i> Assets</h3>
          </div>
        </div>
        <div class="row">
          <div class="legend col-md">
            <h6>
              <span class="badge badge-active"><p>N</p></span> Active
            </h6>
            <h6>
              <span class="badge badge-terminated"><p>N</p></span> Terminated
            </h6>
            <h6>
              <span class="badge badge-unmapped"><p>N</p></span> Unmapped
            </h6>
            <h6>
              <span class="badge badge-yetToStart"><p>N</p></span> Yet to Start
            </h6>
          </div>
          <div class="chart col-md">
              <canvas id="assets" width="250" height="250">{{ assetsChart }}</canvas>
          </div>
        </div>
        <div class="row">
            <div class="col-md">
              <table class="table">
                <tr>
                  <td>
                    Active
                  </td>
                  <td>
                    <span class="badge badge-active badge-table">{{this.active}}</span>
                  </td>
                  <td>
                    Terminated
                  </td>
                  <td>
                      <span class="badge badge-terminated badge-table">{{this.terminated}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Unmapped
                  </td>
                  <td>
                    <span class="badge badge-unmapped badge-table">{{this.unmapped}}</span>
                  </td>
                  <td>
                    Yet to Start
                  </td>
                  <td>
                    <span class="badge badge-yetToStart badge-table">{{this.yetToStart}}</span>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md">
      <div class="container tickets-wrapper">

      <div class="row">
        <div class="title col-md">
          <h3><i class="fas fa-hdd"></i> Tickets</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">New</td>
              <td>0</td>
            </tr>
            <tr>
              <td scope="row">Pending</td>
              <td>0</td>
            </tr>
            <tr>
              <td scope="row">Closed</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="row">
        <div class="view-wrapper col-md">
          <Button routerLink="/manageassets/tickets" class="btn btn-info"> View All</Button>
        </div>
      </div>

      </div>
  </div>

  </div>

</div>
