<div class="container-fluid wrapper">
  <!-- Item tabs -->
  <div class="container-fluid tabs">
    <div class="row ">

      <!-- Contracts Tab -->
      <div class="contracts-container total-container col-md">
        <a routerLink="/portal/contracts">
          <div class="row contract-content">
            <div class="col contract-length">
              {{this.contractLength}}
            </div>
          </div>
          <div class="row contract-label justify-content-center">
            Contracts
          </div>
          <div class="row contract-logo justify-content-end">
              <img class="contract-icon" src="../../assets/Mega-Contracts.png">
          </div>
        </a>
      </div>

      <!-- Assets Tab -->
      <div class="assets-container total-container col-md">
        <a routerLink="/portal/assets">
          <div class="row asset-content">
            <div class="col asset-length">
              {{this.assetLength}}
            </div>
          </div>
          <div class="row asset-label justify-content-center">
            Assets
          </div>
          <div class="row asset-logo justify-content-end">
              <img class="asset-icon" src="../../assets/Mega-Assets.png">
          </div>
        </a>
      </div>

      <!-- Tickets Tab -->
      <div class="tickets-container total-container col-md">
        <a routerLink="/portal/tickets">
          <div class="row ticket-content">
            <div class="col ticket-length">
              {{this.ticketLength?.length}}
            </div>
          </div>
          <div class="row ticket-label justify-content-center">
            Tickets
          </div>
          <div class="row ticket-logo justify-content-end">
              <img class="ticket-icon" src="../../assets/Mega-Tickets.png">
          </div>
        </a>
      </div>

      <!-- Companies Tab -->
    <div *ngIf="this.currentProfile.companypartner === 'Partner'" class="companies-container total-container col-md">
        <a routerLink="/portal/companies">
          <div class="row companies-content">
            <div class="col companies-length">
              {{this.companyLength?.length}}
            </div>
          </div>
          <div class="row companies-label justify-content-center">
            Companies
          </div>
          <div class="row company-logo justify-content-end">
              <img class="company-icon" src="../../assets/Mega-Compannies.png">
          </div>
        </a>
      </div>

      </div>
    </div>

    <!-- Item(s) Data -->
  <div class="row" >
    <!-- Contracts Chart -->
    <div class="col-md" >
      <div class="container contracts-wrapper">
        <div class="row">
          <div class="title col-md">
            <h3><i class="fa fa-calendar" aria-hidden="true"> </i> Days until Contract Renewal</h3>
          </div>
        </div>
        <div class="row">
          <div class="chart col-md" >
              <canvas id="contracts" >{{ contractsData }}</canvas>
          </div>
        </div>
        <div class="whiterow table-row">
          <div class="col-md table-container">
            <table class="table">
              <tr>
                <td>
                  Now
                </td>
                <td>
                  <span class="badge badge-now badge-table">{{this.now}}</span>
                </td>
                <td>
                  30 Days
                </td>
                <td>
                  <span class="badge badge-30 badge-table">{{this.thirtyDays}}</span>
                </td>
                 </tr>
              <tr>
                 <td>
                  90+ Days
                </td>
                <td>
                  <span class="badge badge-plus badge-table">{{this.plus}}</span>
                </td>
              </tr>
            </table>

          </div>
       </div>
    </div>
  </div>
  <!-- Assets Chart -->
    <div class="col-md" >
      <div class="container assets-wrapper">
     <div class="row">
       <div>
          <div class="title col-md">
            <h3><i class="fas fa-database"> </i> Asset Contractual Status</h3>
          </div>
          <div class="row">
          <div class="chart col-md">
              <canvas id="assets" >{{ assetsData }}</canvas>
          </div>
          </div>
        <div class="row table-row">
            <div class="col-md table-container">
              <table class="table">
                <tr>
                  <td>
                    Active
                  </td>
                  <td>
                    <span class="badge badge-active badge-table">{{this.active}}</span>
                  </td>
                  <td>
                    Terminated
                  </td>
                  <td>
                      <span class="badge badge-terminated badge-table">{{this.terminated}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Unmapped
                  </td>
                  <td>
                    <span class="badge badge-unmapped badge-table">{{this.notcovered}}</span>
                  </td>
                  <td>
                    Yet to Start
                  </td>
                  <td>
                    <span class="badge badge-yetToStart badge-table">{{this.yetToStart}}</span>
                  </td>
                </tr>
              </table>
           </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md">
      <div class="container tickets-wrapper">
        <div class="row">
          <div class="title col-md">
            <h3><i class="fas fa-hdd"></i> Tickets</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">New</td>
                  <td>{{this.new}}</td>
                </tr>
                <tr>
                  <td scope="row">Assigned</td>
                  <td>{{this.assigned}}</td>
                </tr>
                <tr>
                  <td scope="row">Closed</td>
                  <td>{{this.closed}}</td>
                </tr>
                <tr>
                  <td scope="row">In Process</td>
                  <td>{{this.inProcess}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="row">
        <div class="view-wrapper col-md">
          <Button routerLink="/portal/tickets" class="btn btn-info"> View All</Button>
        </div>
      </div>
    </div>
      </div>

  <div class="col-md">
  <div class="container geoLocation-wrapper">
    <div class="title col-md">
      <h3><i class="fas fa-globe"></i> Geolocation Coming Soon!</h3>
    </div>
         <div id="geoMap">
         </div>
  </div>
  </div>
</div>
</div>
