
  <h3>{{this.dpcount}}</h3>
        All Assets: <button (click)="gettestAssets()">Load assets</button>
        All Tickets: <button (click)="gettestTickets()">Load tickets</button>
      <br>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th scope="col">Status</th>
                  <th scope="col">RefNumber</th>
                  <th scope="col">Schedule</th>
              </tr>
          </thead>
          <tbody *ngFor="let zipper of ticketpull">
              <tr tr ng-show="zipper.RefNumber != '' && zipper.RefNumber !== undefined && zipper.RefNumber !== null">
                <td> {{zipper.Status}}</td>
                <td> {{zipper.RefNumber}}</td>
              </tr>
          </tbody>
      </table>



