.col-md {
  margin-bottom: 15px;
  margin-top: 15px;
}

.container {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

.total-container {
  background-color: white;
  border-radius: 8px;
  margin: 10px;
  font-size: 32px;
}

.contract-content {
  /* background-image: url('../../assets/contract2.png'); */
  background-repeat: no-repeat;
  background-position: right top;
  /* opacity: .5; */
}

.contracts-container img{
  opacity: .5;
  position: relative;
  right: 20px;
  left: 30px;
}
