<div class="container wrapper">
    <h1>Dashboard: {{dashboard}}</h1>

      <div class="container">
        <div class="row ">
          <div class="contracts-container total-container col-md">
            <a routerLink="/manageassets/contracts"><div class="contract-content">
              {{this.contractLength.length}} <br>
              Contracts
            </div>
            <img src="../../assets/contract2.png">
          </a>
          </div>
          <div class="assets-container total-container col-md">
            <a routerLink="/manageassets/assets"><div class="assets-content">
                {{this.assetLength.length}} <br>
                Assets
                <img src="../../assets/assets.png">
              </div>
            </a>
          </div>
          <div class="tickets-container total-container col-md">
            <a routerLink="/manageassets/tickets">
              <div class="tickets-content">
                {{this.ticketLength.length}} <br>
                Tickets
                <img src="../../assets/tickets.png">
              </div>
            </a>
          </div>
          <div *ngIf="currentProfile.partnerRole === 'Admin'" class="companies-container total-container col-md">
            <a routerLink="/admin/companies"><div class="companies-content">
              {{this.companyLength.length}}<br>
              Companies
              <img src="../../assets/company3.png">
            </div>
            </a>
          </div>
          <div *ngIf="currentProfile.partnerRole === 'Admin'" class="users-container total-container col-md">
            <a routerLink="/admin/users"><div class="users-content">
              0 <br>
              Users
              <img src="../../assets/users.png">
            </div>
          </a>
          </div>
          <div class="locations-container total-container col-md">
            <a routerLink="/admin/locations"><div class="locations-content">
                0 <br>
                Locations
              <img src="../../assets/locations.png">
            </div>
          </a>
            </div>
          </div>
        </div>

      <div class="row">

          <div class="col-md">
              <div class="card">
                <div class="card-header">
                  My Open Cases
                </div>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
            </div>

        <div class="col-md">
          <div class="card">
            <div class="card-header">
              Contracts
            </div>
            <div class="card-body">
              <canvas id="canvas" width="400" height="400">{{ chart }}</canvas>

           <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md">
          <div class="card">
            <div class="card-header">
              My Open Cases
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>


        <div class="col-md">
          <div class="card">
            <div class="card-header">
              My Open Cases
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

