<table class="table table-responsive-sm">
    <thead>
     <tr>
         <th> Title </th>
         <th> ID </th>
         <th> Company </th>
         <th> SLA </th>
         <th> Contract </th>
         <th> End Customer </th>
       </tr>
    </thead>
     <tr *ngFor='let data of assets'>
       <td> {{data.Name}} </td>
       <td> {{data.ID}} </td>
       <td> {{data.CompanyName}} </td>
       <td> {{data.SLA}} </td>
       <td> {{data.Schedule}} </td>
       <td> {{data.EndCustomer}} </td>
     </tr>
   </table>
