
<div class="edit-items-container d-flex justify-content-end">
  <button class="assign-assets btn btn-primary">
    <i class="fas fa-file-export" aria-hidden="true"></i> Export Assets
  </button>
  <button class="btn btn-primary">
    <i class="far fa-eye"></i> Show Archived
  </button>
</div>
<div class="table-container table-responsive-sm">
<table class="table table-bordered rouned">
    <thead>
     <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Serial#</th>
        <th>Asset Tag</th>
        <th>Description</th>
        <th>SLA</th>
        <th>Contract</th>
        <th>End Customer</th>
      </tr>
    </thead>
     <tr *ngFor='let data of assets'>
      <td> {{data.Name}} </td>
      <td> {{data.SiteAddress}} </td>
      <td> {{data.Identifier}} </td>
      <td> {{data.Identifier}}</td>
      <td> {{data.Description}} </td>
      <td> {{data.Sla}} </td>
      <td> <a> {{data.Schedule}} </a> </td>
      <td> {{data.EndCustomer}} </td>
     </tr>
   </table>
</div>
data source working
<div class="mat-table">
  <mat-table mat-table [dataSource]="assetDataSource" class="mat-elevation-z8 table" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.Name}} </mat-cell>
    </ng-container>

    <!-- Identifier Column -->
    <ng-container matColumnDef="Identifier">
      <mat-header-cell *matHeaderCellDef> Serial </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.Identifier}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Asset Tag">
      <mat-header-cell *matHeaderCellDef> Asset Tag </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.Identifier}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <!-- <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.Description}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.SiteAddress}} </mat-cell>
    </ng-container>

    <!-- Schedule Column -->
    <ng-container matColumnDef="Schedule">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contract </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.Schedule}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-paginator [length]="assetLength.length" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator> -->
</div>
