<table class="table table-responsive-sm">
  <thead>
   <tr>
       <th>List Name</th>
       <th>Customer</th>
       <th>User</th>
       <th>Service Ends</th>
       <th>Assets</th>
     </tr>
  </thead>
   <!-- <tr *ngFor='let data of lists> -->
     <!-- <td>{{data.PrimaryCompanyName}}</td>
     <td>{{data.FullName}}</td>
     <td>{{data.Telephone}}</td>
     <td>{{data.Email}}</td>
     <td>Harmony PSA</td>
     <td>null</td>
     <td>null</td>
     <td>null</td> -->
   <!-- </tr> -->
 </table>
