<div class="d-flex justify-content-end">
    <button class="add-ticket btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-plus" aria-hidden="true"></i> Add New List
    </button>
</div>
<hr/>
<div class="edit-items-container d-flex justify-content-end">
  <button class="assign-assets btn btn-primary">
    <i class="fa fa-plus" aria-hidden="true"></i> Assign Assets
  </button>
  <button class="btn btn-primary">
    <i class="fas fa-edit"></i> Edit List
  </button>
  <button class="btn btn-primary">
    <i class="far fa-trash-alt"></i> Delete List
  </button>
</div>
<div class="table-container">
<table class="table table-responsive-sm">
  <thead>
   <tr>
       <th>List Name</th>
       <th>Customer</th>
       <th>User</th>
       <th>Service Ends</th>
       <th>Assets</th>
     </tr>
  </thead>
   <!-- <tr *ngFor='let data of lists> -->
     <!-- <td>{{data.PrimaryCompanyName}}</td>
     <td>{{data.FullName}}</td>
     <td>{{data.Telephone}}</td>
     <td>{{data.Email}}</td>
     <td>Harmony PSA</td>
     <td>null</td>
     <td>null</td>
     <td>null</td> -->
   <!-- </tr> -->
 </table>
</div>
